.container {
  display: flex;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid Black;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-content: center;
}

.header li {
  list-style: none;
  display: inline-block;
  justify-content: flex-end;
}

.header li a {
  color: Black;
  font-size: 14px;
  margin: auto;
}

ul {
  text-align: right;
}
